.flip_loading {
    position:absolute;
    top:35%;
    left:50%;
    background: #91BEF3;
    height: 100px;
    width: 270px;
    margin-top:-80px;
    margin-left:-135px;
    overflow: hidden;
    border-radius: 50% 50% 50% 50%;
}

.flip_loading .shell {
    padding: 32px 33px;
    font: 26px/1.5 Monospace;
    color: white;
    perspective: 100px;
}

.flip_loading .shell > span {
    animation: flip_loading 2s infinite;
    display: inline-block;
    transform-origin: 50% 50% 8px;
    transform-style: preserve-3d;
}

.flip_loading .shell > span:nth-child(1) {
    animation-delay: 0.1s;
}

.flip_loading .shell > span:nth-child(2) {
    animation-delay: 0.2s;
}

.flip_loading .shell > span:nth-child(3) {
    animation-delay: 0.3s;
}

.flip_loading .shell > span:nth-child(4) {
    animation-delay: 0.4s;
}

.flip_loading .shell > span:nth-child(5) {
    animation-delay: 0.5s;
}

.flip_loading .shell > span:nth-child(6) {
    animation-delay: 0.6s;
}

.flip_loading .shell > span:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes flip_loading {
    to {
        transform: rotateX(1turn);
    }
}
